/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v48-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 40px;
    position: relative;
    z-index: 2;
}

#design {
    background-color: rgb(141, 148, 186);
    height: 40px;
    width: 100%;
}

main aside {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20%;
}

.svg-curve {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.svg-curve path {
    fill: rgb(141, 148, 186);
}

#aboutMe {
    width: 60%;
    margin: 10px 0 0 150px;
}

.toggle-label {
    display: inline-block;
    color: black;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 8px;
    z-index: 2;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
}

.toggle-label:hover,
.toggle-label:focus {
    transform: translateY(4px);
}

.toggle-checkbox {
    display: none;
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(.4, 0, .2, 1), padding 0.4s;
    background: transparent;
    border-radius: 0 0 4px 4px;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

.toggle-checkbox:checked+.toggle-content {
    max-height: 300px;
    padding: 16px 0;
}

.toggle-content ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    padding: 16px 0;
    z-index: 1000;
}

@media (max-width: 800px) {
    body {
        align-items: stretch;
    }

    main {
        flex-direction: column;
        margin: 0 8px;
    }

    #aboutMe {
        width: 100%;
        margin: 0;
    }

    main aside {
        position: static;
        width: 100%;
        margin: 24px 0 0 0;
        right: auto;
        top: auto;
    }
}